{% extends "base.html" %}
{% load static %}

{% block js_files %}
<script src="{% static 'gep_app/js/multi_select_widget.js' %}"></script>
<script src="{% static 'gep_app/js/single_select_widget.js' %}"></script>
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'gep_app/css/multi_select_widget.css' %}">
<link rel="stylesheet" href="{% static 'gep_app/css/single_select_widget.css' %}">
{% endblock %}

{% block main_content %}
<div class="container-fluid">
	<!--	NAVIGATION BAR    -->
	<nav class="navbar navbar-expand-sm navbar-light">
		<button class="navbar-toggler navbar-toggler-small" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon navbar-toggler-icon-small"></span>
		</button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'sac_view_courses' %}">View Courses</a>
		  </li>
		  <li class="nav-item active">
			<a class="nav-link" href="{% url 'sac_add_course' %}">Add Course</a>
		  </li>
		</ul>
	  </div>
	</nav>
	
	<!--    MAIN CONTENT	-->
	<form action="{% url 'sac_add_course' %}" method="post">
		{% csrf_token %}
		<table class="table table-hover">
			<tbody>
				<tr>
					<td><label class="form-label" for="id_{{form.course_id.name}}">{{form.course_id.label}}</label></td>
					<td>{{ form.course_id}}{{form.course_id.errors}}</td>
				</tr>
				<tr>
					<td><label class="form-label" for="id_{{form.name.name}}">{{form.name.label}}</label></td>
					<td>{{form.name}}{{form.name.errors}}</td>
				</tr>
				<tr>
					<td><label class="form-label" for="id_{{form.dept.name}}">{{form.dept.label}}</label></td>
					<td>{{form.dept}}{{form.dept.errors}}</td>
				</tr>
				<tr>
					<td><label class="form-label" for="id_{{form.credits.name}}">{{form.credits.label}}</label></td>
					<td>{{form.credits}}{{form.credits.errors}}</td>
				</tr>
				<tr>
					<td><label class="form-label" for="id_{{form.pre_requisites.name}}">{{form.pre_requisites.label}}</label></td>
					<td>{{form.pre_requisites}}{{form.pre_requisites.errors}}</td>
				</tr>
				<tr>
					<td><label class="form-label" for="id_{{form.cot_requisite.name}}">{{form.cot_requisite.label}}</label></td>
					<td>{{form.cot_requisite}}{{form.cot_requisite.errors}}</td>
				</tr>
				<tr>
					<td><label class="form-label" for="id_{{form.cgpa_cutoff.name}}">{{form.cgpa_cutoff.label}}</label></td>
					<td>{{form.cgpa_cutoff}}{{form.cgpa_cutoff.errors}}</td>
				</tr>
				<tr>
					<td><label class="form-label" for="id_{{form.mode_of_allotment.name}}">{{form.mode_of_allotment.label}}</label></td>
					<td>{{form.mode_of_allotment}}{{form.mode_of_allotment.errors}}</td>
				</tr>	
				<tr>
					<td><label class="form-label" for="id_{{form.allowed_semesters.name}}">{{form.allowed_semesters.label}}</label></td>
					<td>{{form.allowed_semesters}}{{form.allowed_semesters.errors}}</td>
				</tr>
			</tbody>
		</table>
		<input class="btn btn-primary pl-4 pr-4 mb-4" type="submit" value="Next"/>
	</form>
</div>
{% endblock %}