{% extends "base.html" %}
{% load static %}

{% block js_files %}
<script src="{% static 'gep_app/js/single_select_widget.js' %}"></script>
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'gep_app/css/single_select_widget.css' %}">
{% endblock %}


{% block main_content %}
<div class="container-fluid">
	<!--	NAVIGATION BAR    -->
	<nav class="navbar navbar-expand-sm navbar-light">
		<button class="navbar-toggler navbar-toggler-small" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon navbar-toggler-icon-small"></span>
		</button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'sac_view_courses' %}">View Courses</a>
		  </li>
		  <li class="nav-item active">
			<a class="nav-link" href="{% url 'sac_add_course' %}">Add Course</a>
		  </li>
		</ul>
	  </div>
	</nav>
	
	<!--    MAIN CONTENT	-->
	<div class="h2 text-center text-primary font-weight-bold">{{course}}</div>
	
	<!--	Display error messages (if any)	-->
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
			<li {% if message.tags %} class="{{ message.tags }} errorlist"{% endif %}>{{ message }}</li>
			{% endif %}
		{% endfor %}
	</ul>
	{% endif %}
	
	<table class="table table-hover">
		<thead>
			<th scope="col" style="min-width: 100px;">Slot</th>
			<th scope="col" style="min-width: 200px;">Faculty</th>
			{% for dept in depts %}
			<th scope="col">{{dept.name}}</th>
			{% endfor %}
		</thead>
		<tbody>
			<!--	Display saved electives		-->
			{% for elective in electives %}
			<tr>
				<td>
					<div>{{ elective.get_slot_display }}</div>
				</td>
				<td>
					<div>{{ elective.faculty|default_if_none:"Not Alloted" }}</div>
				</td>
				{% for dept in depts %}
				{% for elective_seat in elective_seats %}
				{% if elective_seat.elective == elective %}
				{% if elective_seat.dept == dept %}
				<td>
					<div>{{ elective_seat.max_seats }}</div>	
				</td>
				{% endif %}
				{% endif %}
				{% endfor %}
				{% endfor %}
				<td>
					<form action="{% url 'sac_delete_elective_of_course' %}" method="post">
						{% csrf_token %}
						<input type="hidden" value="{{course.course_id}}" name="course_id">
						<input type="hidden" value="{{elective.slot}}" name="slot">
						<input class="btn btn-danger" type="submit" value="Remove">
					</form>
				</td>
			</tr>
			{% endfor %}
			
			<!--	Add new elective	-->
			<tr>
				<form action="{% url 'sac_add_elective_of_course' %}" method="post">
					{% csrf_token %}
					<td>
						{{ elective_form.slot }}
					</td>
					<td>
						{{ elective_form.faculty}}
					</td>
					{{ elective_seats_formset.management_form }}
					{% for elective_seat_form in elective_seats_formset %}
					<td>
						{{elective_seat_form.dept}}
						{{elective_seat_form.max_seats}}
					</td>
					{% endfor %}
					<input type="hidden" value="{{course.course_id}}" name="course">
					<td>
						<input class="btn btn-primary pl-4 pr-4" type="submit" value="Add">
					</td>
				</form>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}