{% extends "base.html" %}
{% load static %}

{% block main_content %}
<div class="container-fluid">	
	<!--	NAVIGATION BAR    -->
	<nav class="navbar navbar-expand-sm navbar-light mb-3 no-padding-left no-padding-right">
		<button class="navbar-toggler navbar-toggler-small" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon navbar-toggler-icon-small"></span>
		</button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			<a class="nav-link" href="#">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" target="_blank" href="{% url 'password_change' %}">Change Password</a>
		  </li>
		</ul>
		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'logout' %}">Logout</a>
		  </li>
		</ul>
	  </div>
	</nav>
	
	<!--    MAIN CONTENT	-->
	<div class="h2 text-center text-success font-weight-bold">Global Elective Allotment Procedure</div>
	<div class="h6 font-weight-bold mt-3">Follow these steps in the given order to start the Global Elective Allotment process. </div>
	<!--	Display error messages (if any)	-->
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
			<li {% if message.tags %} class="{{ message.tags }} errorlist"{% endif %}>{{ message }}</li>
			{% endif %}
		{% endfor %}
	</ul>
	{% endif %}
	<ul class="list-group">
		<!--	To update Access Dates and Email Credentials -->
		<li class="list-group-item">
			<div>1) Go to root folder of the server. Open 'global.com' folder. Go to /web/gep/gep_project folder and change the settings file. Update the following values. It is possible to change these values in between the allotment process.</div>
			<ul>
				<li class="sub-list-group-item"><b>ACADEMIC_DATA_SUBMISSION_START_DATE: </b>It is the date and time to provide access to students to submit academic details. Format: 'yyyy-mm-ddThh:mm:ss' like '2018-04-07T00:00:00'.</li>
				<li class="sub-list-group-item"><b>ACADEMIC_DATA_SUBMISSION_END_DATE: </b>It is the date and time to close the access of students to submit academic details. Format: 'yyyy-mm-ddThh:mm:ss' like '2018-04-07T00:00:00'.</li>
				<li class="sub-list-group-item"><b>PREFERENCE_SUBMISSION_START_DATE: </b>It is the date and time to provide access to students to submit the elective preference list. Format: 'yyyy-mm-ddThh:mm:ss' like '2018-04-07T00:00:00'.</li>
				<li class="sub-list-group-item"><b>PREFERENCE_SUBMISSION_END_DATE: </b>It is the date and time to close the access of students to submit the elective preference list. Format: 'yyyy-mm-ddThh:mm:ss' like '2018-04-07T00:00:00'.</li>
				<li class="sub-list-group-item"><b>ALLOTMENT_PUBLICATION_START_DATE: </b>It is the date and time to publish the elective preference list to students. Format: 'yyyy-mm-ddThh:mm:ss' like '2018-04-07T00:00:00'.</li>
				<li class="sub-list-group-item"><b>ALLOTMENT_PUBLICATION_END_DATE: </b>It is the date and time to close the student portal. Format: 'yyyy-mm-ddThh:mm:ss' like '2018-04-07T00:00:00'.</li>
<!--
				<li class="sub-list-group-item"><b>EMAIL_HOST_USER: </b>It is the email from which all mails related to allotment is sent.</li>
				<li class="sub-list-group-item"><b>EMAIL_HOST_PASSWORD: </b>It is the password of the above mentioned email.</li>
-->
			</ul>
		</li>
		<!--	Upload Department data file	-->
		<li class="list-group-item">
			<div>2) Upload Department data file as csv in the following format. Password of each department will be 'DEPARTMENT'. This must be done before academic data submission stage.</div>
			<img class="mt-2" src="{% static 'gep_app/images/department.png' %}">
			<form action="{% url 'sac_dept' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<input required type="file" id="department_file" name="department_file">
				<input class="btn btn-success mt-4" type="submit" value="Upload Department File">
			</form>
		</li>
		<!--	Upload Faculty data file	-->
		<li class="list-group-item">
			<div>3) Upload Faculty data file as csv in the following format. Username of the faculty will be same as their email and password will be 'FACULTY'. This must be done before academic data submission stage.</div>
			<img class="mt-2" src="{% static 'gep_app/images/faculty.png' %}">
			<form action="{% url 'sac_faculty' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<input required type="file" id="faculty_file" name="faculty_file">
				<input class="btn btn-success mt-4" type="submit" value="Upload Faculty File">
			</form>
		</li>
		<!--	Upload Student data file	-->
		<li class="list-group-item">
			<div>4) Upload Student data file as csv in the following format. Username and password of each student will be their roll number in block letters. This must be done before academic data submission stage.</div>
			<img class="mt-2" src="{% static 'gep_app/images/student.png' %}">
			<form action="{% url 'sac_student' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<input required type="file" id="student_file" name="student_file">
				<input class="btn btn-success mt-4" type="submit" value="Upload Student File">
			</form>
		</li>
		<!--	Upload Elective file	-->
		<li class="list-group-item">
			<div>5) Upload Elective data file as csv in the following format. Data for all electives in all department should be uploaded together. Data updation must be done before elective preference submission stage.
				<ul>
					<li class="sub-list-group-item">If a course is offered in more than one slot, then they must be written seperated by '/'.</li>
					<li class="sub-list-group-item">If a course is offered to more than one semester, then they must be written seperated by '/'.</li>
					<li class="sub-list-group-item">For courses with no limit in the number of students admitted, give the number of seats as 1000.</li>
					<li class="sub-list-group-item">In the faculty column, username of the faculty (i.e email) should be given for permanent faculties and 'None' for adhocs.</li>
					<li class="sub-list-group-item">CGPA cutoff can have atmost 2 decimal points.</li>
					<li class="sub-list-group-item">The seats available per department can be written in any order as long as the column title is given as the username of corresponding department.</li>
					<li class="sub-list-group-item">Seat availability column for all departments is a must, irrespective of whether the students of that department is participating in the global allotment procedure. Assign the number of seats as zero if not applicable.</li>
				</ul>
			</div>
			<img class="mt-2" src="{% static 'gep_app/images/elective.png' %}">
			<form action="{% url 'sac_elective' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<input required type="file" id="elective_file" name="elective_file">
				<input class="btn btn-success mt-4" type="submit" value="Upload Elective File">
			</form>
		</li>
		<!--	Manage Electives  -->
		<li class="list-group-item">
			<div>6) The following link will take to the 'Manage Elective' section of SAC Portal. After the commencement of elective preference submission stage, any addition, deletion or modification of electives must be done there. The students have to resubmit their preference list to be eligible for any new elective added. Also, any elective removed will be automatically removed from every student's preference list.</div>
			<a href="{% url 'sac_view_courses' %}" target="_blank" class="btn btn-success mt-2">Manage Electives</a>
		</li>
		<!--	Upload Mutually Exclusive Course Group data file	-->
		<li class="list-group-item">
			<div>7) Upload Mutually Exclusive Course Group data file as csv in the following format. Data updation must be done before starting global allotment.</div>
			<img class="mt-2" src="{% static 'gep_app/images/mutually_exclusive_course_group.png' %}">
			<form action="{% url 'sac_mutually_exclusive_course_group' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<input required type="file" id="mutually_exclusive_course_group_file" name="mutually_exclusive_course_group_file">
				<input class="btn btn-success mt-4" type="submit" value="Upload Mutually Exclusive Course Group File">
			</form>
		</li>
		<!--	Upload COT Allotment data file	-->
		<li class="list-group-item">
			<div>8) Upload COT Allotment data file as csv in the following format. Data for all electives in all department should be uploaded together. Data updation must be done before elective preference submission stage.</div>
			<img class="mt-2" src="{% static 'gep_app/images/cot_allotment.png' %}">
			<form action="{% url 'sac_cot_allotment' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<input required type="file" id="cot_allotment_file" name="cot_allotment_file">
				<input class="btn btn-success mt-4" type="submit" value="Upload COT File">
			</form>
		</li>
		<!--	Download Academic data	-->
		<li class="list-group-item">
			<div>9) Download the academic data submitted by the students from the following link after academic data submission stage.</div>
			<a class="btn btn-success mt-2" href="{% url 'sac_academic_data' %}">Download Academic Data</a>
		</li>
		<!--	Start Global Elective Allotment	-->
		<li class="list-group-item">
			<div>10) Click on the following link to start alloting global electives to registered students.</div>
			<a class="btn btn-success mt-2" href="{% url 'sac_start_allotment' %}">Start Global Elective Allotment</a>
		</li>
		<!--	Download Allotment data	-->
		<li class="list-group-item">
			<div>11) Download the allotment data from the following link.</div>
			<a class="btn btn-success mt-2" href="{% url 'sac_allotment_data' %}">Download Allotment Data</a>
		</li>
	</ul>
</div>
{% endblock %}