{% extends "base.html" %}
{% load static %}
{% block main_content %}
<div class="container-fluid">
	<!--	NAVIGATION BAR    -->
	<div class="row">
	<nav class="col-9 navbar navbar-expand-sm navbar-light mb-3 style="background-color: transparent;"">
	  <button class="navbar-toggler navbar-toggler-small" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon navbar-toggler-icon-small"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			<a class="nav-link" href="#">Startup</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Edit Elective</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">View and Download Allotment</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Academic data (dept|FA)</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Add COT Allotment</a>
		  </li>
		</ul>
	  </div>
	</nav>
    <a class="col-3 text-right btn btn-link text-success" href="{% url 'logout' %}">Logout</a>
	</div>
	
	<!--    MAIN CONTENT	-->
	<div class="h2 text-center text-success font-weight-bold">Global Elective Allotment Startup</div>
	<div class="h6 font-weight-bold mt-3">Follow these steps to start the Global Elective Allotment process</div>
	<!--	Display error messages (if any)	-->
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
			<li {% if message.tags %} class="{{ message.tags }} errorlist"{% endif %}>{{ message }}</li>
			{% endif %}
		{% endfor %}
	</ul>
	{% endif %}
	<ul class="list-group">
		<li class="list-group-item">1) Go to root folder of the tathva server. Open 'global.com' folder.</li>
		<li class="list-group-item">2) Go to /web/gep_project/gep_app/static/gep_app/config folder and change the config page. Set values as follows:
		<ul>
			<li class="sub-list-group-item"><b>ACADEMIC_DATA_PHASE_START_DATE: </b>It is the date and time to open the portal for students and to submit academic details. Format: 'yyyy-mm-ddThh:mm:ss' like '2018-04-07T00:00:00'. Since our server is in chicago, we must convert our time to Chicago time before updating.</li>
			<li class="sub-list-group-item"><b>ACADEMIC_DATA_PHASE_END_DATE: </b>It is the date and time to close the portal to submit academic details. Format: 'yyyy-mm-ddThh:mm:ss' like '2018-04-07T00:00:00'. Since our server is in chicago, we must convert our time to Chicago time before updating.</li>
			<li class="sub-list-group-item"><b>PREFERENCE_SUBMISSION_PHASE_START_DATE: </b>It is the date and time to open the portal to submit the elective preference list. Format: 'yyyy-mm-ddThh:mm:ss' like '2018-04-07T00:00:00'. Since our server is in chicago, we must convert our time to Chicago time before updating.</li>
			<li class="sub-list-group-item"><b>PREFERENCE_SUBMISSION_PHASE_END_DATE: </b>It is the date and time to close the portal to submit the elective preference list. Format: 'yyyy-mm-ddThh:mm:ss' like '2018-04-07T00:00:00'. Since our server is in chicago, we must convert our time to Chicago time before updating.</li>
			<li class="sub-list-group-item"><b>ALLOTMENT_SUBMISSION_PHASE_START_DATE: </b>It is the date and time to publish the elective preference list. Format: 'yyyy-mm-ddThh:mm:ss' like '2018-04-07T00:00:00'. Since our server is in chicago, we must convert our time to Chicago time before updating.</li>
		</ul></li>
		<!--	Upload Department data file	-->
		<li class="list-group-item">3) Upload Department Data File as csv in the following format. Password of each department will be their username.
			<img src="">
			<form action="{% url 'startup_dept' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<input required type="file" id="departments_file" name="departments_file">
				<input class="btn btn-success mt-4" type="submit" value="Upload">
			</form>
		</li>
		<!--	Upload Student data file	-->
		<li class="list-group-item">4) Upload Student Data File as csv in the following format. Username and password of each student will be their username in block letters.
			<img src="">
			<form action="{% url 'startup_student' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<input required type="file" id="students_file" name="students_file">
				<input class="btn btn-success mt-4" type="submit" value="Upload">
			</form>
		</li>
		<!--	Upload Faculty data file	-->
		<li class="list-group-item">4) Upload Faculty Data File as csv in the following format. Username of the faculty will be same as their email and password will be 'FACULTY'.
			<img src="">
			<form action="{% url 'startup_faculty' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<input required type="file" id="faculties_file" name="faculties_file">
				<input class="btn btn-success mt-4" type="submit" value="Upload">
			</form>
		</li>
	</ul>
</div>
{% endblock %}