{% extends "index.html" %}

{% block main_content %}
<div class="container-fluid">
	<form action="#" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label class="form-label" for="username">Username</label>
			<input class="form-control disabled" disabled type="text" id="username" readonly="readonly" value="B150243CS"/>
		</div>
		<div class="form-group">
			<label class="form-label" for="name">Full Name</label>
			<input class="form-control disabled" disabled type="text" id="name" value="Devika S"/>
		</div>
		<div class="form-group">
			<label class="form-label" for="next_semester">Upcoming semester</label>
			<input class="form-control" type="dropdown" placeholder="Semester" id="next_semester" min=0 max=10/>
		</div>
		<div class="form-group">
			<label class="form-label" for="current_CGPA">CGPA upto previous semester</label>
			<input class="form-control" type="number" placeholder="CGPA" id="current_CGPA" min=0 max=10/>
		</div>
		<div class="form-group">
			<label class="form-label" for="no_global_electives">Number of global electives to be taken in coming semester</label>
			<input class="form-control" type="number" placeholder="Number of global electives" id="no_global_electives"/>
		</div>
		<div class="form-group">
			<label class="form-label" for="core_slots">Slots of core courses to be taken in coming semester</label>
			<select multiple class="form-control" id=core_slots>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
		</div>
	</form>
</div>
{% endblock %}