* {
	font-family: 'Roboto', sans-serif;
}

.elective-group {
	border: solid 1px lightgrey;
	border-radius: .25rem;	
	padding: 5px;
}

html,body {
	height: 100%;
}

.container-fluid {
	height: calc(100% - 71px);
	margin-top: 71px;
}

.form-label {
	font-size: 14px;
	font-weight: bold;
}

.form-control:focus {
	border-color: transparent;
	box-shadow: 0px 0px 5px #008080;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #008080;
}

::selection {
    color: white; 
    background: #008080;
}

.errorlist {
	font-size: 11px;
	color: red;
	text-align: right;
	list-style-type: none;
}

.borderless td, .borderless th {
    border: none;
}

.sub-list-group-item {
    font-size: 14px;
    margin: 8px 0;
}

.bg-image {
	overflow: auto;
	background-image: url(/static/gep_app/images/bg.jpg);
	background-size: cover;
    background-repeat:no-repeat;
}

.form-container {
	margin-top: 18vh;
    padding: 30px;
	background-color: black;
	opacity: .75;
	border-radius: .25rem;
}

.form-control-disabled {
	background-color: #eee;
}

.form-control-transparent {
	background-color: transparent !important;
}

.form-control-transparent:focus {
	border-color: transparent;
	box-shadow: 0px 0px 5px white;
}

.form-check-input {
	position: relative;
	margin-left: -.25rem;
}

.navbar-toggler.navbar-toggler-small {
	padding: 0 5px;
}

.navbar-toggler-icon.navbar-toggler-icon-small {
    width: 20px;
    height: 27px;
}

.no-padding {
	padding: 0;
}

.no-padding-left {
	padding-left: 0;
}

.display-block {
	display: block;
}

.no-padding-right {
	padding-right: 0;
}

.border-grey {
	border: 1px solid #d3d9df;
}

.btn-small {
	font-size: 12px;
	padding: 0 6px;
}

.loader {
	position: fixed;
    top: calc(50% - 42.5px);
    left: calc(50% - 42.5px);
    z-index: 100;
}

.loading-spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #008080;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    animation: spin 2s linear infinite;
}

.stage-status-container {
    padding: 50px 0;
	width: 30%;
	margin-right: 1.66666667%;
	margin-left: 1.66666667%;
	margin-bottom: 20px;
    background-color: rgba(0,128,128,.8);
    border-radius: 4px;
    color: white;
}

.stage-status-icon {
	margin: 20px 0;
    border-radius: 50%;
    width: 65px;
    height: 65px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.form-label-title {
	text-transform: uppercase;
	margin-bottom: 5px;
}

.checkbox-big {
	height: 20px;
	width: 20px;
	margin-left: 5px;
}

.multi-select-widget .dropdown-toggle,.single-select-widget .dropdown-toggle {
	width: 100%;
	border: 1px solid #ced4da;
	text-align: left;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
}

.multi-select-widget .dropdown-toggle:focus,.single-select-widget .dropdown-toggle:focus {
	border-color: transparent;
	box-shadow: 0px 0px 5px #008080;
}

.multi-select-widget .dropdown-toggle::after,.single-select-widget .dropdown-toggle::after {
	border: 1px solid #ced4da;
	display: inline-block;
    width: 0;
    height: 0;
    vertical-align: .255em;
    content: "";
    float: right;
    margin-left: .255em;
    margin-right: -6.8px;
    margin-top: 10px;
    border-top: .35em solid;
    border-right: .17em solid transparent;
    border-left: .17em solid transparent;
    border-bottom: 0;
}

.multi-select-widget .dropdown-menu,.single-select-widget .dropdown-menu {
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
}

.multi-select-widget .dropdown-list-item,.single-select-widget .dropdown-list-item {
	padding-left: 15px;
}

.multi-select-widget .dropdown-list-item:hover,.single-select-widget .dropdown-list-item:hover {
	background-color: whitesmoke;
}

.multi-select-widget .dropdown-list-item .dropdown-list-checkbox {
    height: 15px;
    width: 15px;
    margin-top: 4px;
	margin-right: 5px;
}

.multi-select-widget .dropdown-list-item label,.single-select-widget .dropdown-list-item label {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

@media screen and (max-width: 400px){
	#login-container .form-container,#change-password-container .form-container {
		margin-top: 0;
		height: 100%;
	}
	
	.bg-image {
		background-image: url(/static/gep_app/images/bg-mini.jpg);
	}
	
	.stage-status-container {
		width: 96.66666667%;
	}
}