* {
	font-family: 'Roboto', sans-serif;
}

html,body {
	height: 100%;
}

.container-fluid {
	height: calc(100% - 66px);
	margin-top: 66px;
}

.bg-image {
	overflow: auto;
	background-image: url(/static/gep_app/images/bg.jpg);
	background-size: cover;
    background-repeat:no-repeat;
}

.form-container {
	margin-top: 18vh;
    padding: 30px;
	background-color: black;
	opacity: .75;
	border-radius: .25rem;
}

.form-label {
	font-size: 14px;
	font-weight: bold;
}

.form-control {
	background-color: transparent !important;
}

@media screen and (max-width: 400px){
	.form-container {
		margin-top: 0;
		height: 100%;
	}
	
	.bg-image {
		background-image: url(/static/gep_app/images/bg-mini.jpg);
	}
}