{% extends "base.html" %}

{% block main_content %}
<div id="change-password-container" class="container-fluid bg-image">
	<form class="col-lg-4 col-md-6 offset-lg-4 offset-md-3 form-container" action="{% url 'password_reset' %}" method="post">
		{% csrf_token %}
		<div class="h2 text-center text-primary mb-md-3 font-weight-bold">Password Reset</div>
		<div class="form-group">
			<input class="form-control form-control-transparent text-primary" required type="email" placeholder="Email ID" id="id_email" maxlength="254" name="email"/>
			{{ form.email.errors }}
		</div>
		<input class="btn btn-primary btn-block" type="submit" value="Submit"/>
	</form>
</div>
{% endblock %}