{% extends "base.html" %}
{% load static %}

{% block main_content %}
<div class="container-fluid">
	<!--	NAVIGATION BAR    -->
	<nav class="navbar navbar-expand-sm navbar-light mb-3 no-padding-left no-padding-right">
		<button class="navbar-toggler navbar-toggler-small" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon navbar-toggler-icon-small"></span>
		</button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			<a class="nav-link" href="#">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" target="_blank" href="{% url 'password_change' %}">Change Password</a>
		  </li>
		</ul>
		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'logout' %}">Logout</a>
		  </li>
		</ul>
	  </div>
	</nav>
	
	<!--    MAIN CONTENT	-->
	<div class="h5">Academic Data Submitted</div>
	<p class="small">You have successfully submitted your academic data for verification. Click <a class="btn-link" href="{% url 'student_academic_data_submission' %}">here</a> to modify.</p>
</div>
{% endblock %}