{% extends "base.html" %}
{% load static %}

{% block js_files %}
<script src="{% static 'gep_app/js/multi_select_widget.js' %}"></script>
<script src="{% static 'gep_app/js/single_select_widget.js' %}"></script>
{% endblock %}

{% block main_content %}
<div class="container-fluid">
	<!--	NAVIGATION BAR    -->
	<nav class="navbar navbar-expand-sm navbar-light mb-3 no-padding-left no-padding-right">
		<button class="navbar-toggler navbar-toggler-small" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon navbar-toggler-icon-small"></span>
		</button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			<a class="nav-link" href="{% url 'student_home' %}">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" target="_blank" href="{% url 'password_change' %}">Change Password</a>
		  </li>
		</ul>
		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'logout' %}">Logout</a>
		  </li>
		</ul>
	  </div>
	</nav>
	
	<!--    MAIN CONTENT	-->
	<div class="h2 text-center text-primary font-weight-bold">Academic Data Submission</div>
	<form action="{% url 'student_academic_data_submission' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label class="form-label" for="id_user">Roll Number</label>
			<div class="form-control form-control-disabled">{{roll_number}}</div>
		</div>
		<div class="form-group">
			<label class="form-label" for="id_name">Name</label>
			<div class="form-control form-control-disabled">{{name}}</div>
		</div>
		<div class="form-group">
			<label class="form-label" for="id_{{form.faculty_advisor.name}}">{{form.faculty_advisor.label}}</label>
			{{form.faculty_advisor}}
			{{form.faculty_advisor.errors}}
		</div>
		<div class="form-group">
			<label class="form-label" for="id_{{form.next_semester.name}}">{{form.next_semester.label}}</label>
			{{form.next_semester}}
			{{form.next_semester.errors}}
		</div>
		<div class="form-group">
			<label class="form-label" for="id_{{form.current_cgpa.name}}">{{form.current_cgpa.label}}</label>
			{{form.current_cgpa}}
			{{form.current_cgpa.errors}}
		</div>
		<div class="form-group">
			<label class="form-label" for="id_{{form.required_elective_count.name}}">{{form.required_elective_count.label}}</label>
			{{form.required_elective_count}}
			{{form.required_elective_count.errors}}
		</div>
		<div class="form-group">
			<label class="form-label" for="id_{{form.past_courses.name}}">{{form.past_courses.label}}</label>
			{{form.past_courses}}
			{{form.past_courses.errors}}
		</div>
		<div class="form-group">
			<label class="form-label" for="id_{{form.core_slots.name}}">{{form.core_slots.label}}</label>
			{{form.core_slots}}
			{{form.core_slots.errors}}
		</div>
		<input class="btn btn-primary mb-2 pl-4 pr-4" type="submit" value="Submit"/>
	</form>
</div>
{% endblock %}