{% extends "student/base.html" %}
{% load static %}

{% block sub_content %}
<div>
	<div class="row">
		<div class="stage-status-container text-center">
			<div class="h3">Stage 1</div>
			<div class="h5">Academic Data Submission</div>
			{% if is_academic_data_submission_stage %}
				{% if academic_data_submission_status %}
				<div><img class="stage-status-icon" src="{% static 'gep_app/images/tick.png' %}"></div>
				<a class="btn btn-primary text-light" href="{% url 'student_academic_data_submission' %}">Edit Response</a>
				{% else %}
				<div><img class="stage-status-icon" src="{% static 'gep_app/images/cross.png' %}"></div>
				<a class="btn btn-primary" href="{% url 'student_academic_data_submission' %}">Submit Academic Data</a>
				{% endif %}			
			{% else %}
				{% if academic_data_submission_status %}
				<div><img class="stage-status-icon" src="{% static 'gep_app/images/tick.png' %}"></div>
				{% else %}
				<img class="stage-status-icon" src="{% static 'gep_app/images/cross.png' %}">
				{% endif %}			
			{% endif %}
		</div>
		<div class="stage-status-container text-center">
			<div class="h3">Stage 2</div>
			<div class="h5">Elective Preference Submission</div>
			{% if is_preference_submission_stage %}
				{% if preference_submission_status %}
				<div><img class="stage-status-icon" src="{% static 'gep_app/images/tick.png' %}"></div>
				<a class="btn btn-primary text-light" href="{% url 'student_preference_submission' %}">Edit Response</a>
				{% else %}
				<div><img class="stage-status-icon" src="{% static 'gep_app/images/cross.png' %}"></div>
				<a class="btn btn-primary" href="{% url 'student_preference_submission' %}">Submit Elective Preference</a>
				{% endif %}			
			{% else %}
				{% if preference_submission_status %}
				<div><img class="stage-status-icon" src="{% static 'gep_app/images/tick.png' %}"></div>
				{% else %}
				<img class="stage-status-icon" src="{% static 'gep_app/images/cross.png' %}">
				{% endif %}			
			{% endif %}
		</div>
		<div class="stage-status-container text-center">
			<div class="h3">Stage 3</div>
			<div class="h5">Allotment Publication</div>
			{% if is_allotment_publication_stage %}	
			<div><img class="stage-status-icon" src="{% static 'gep_app/images/tick.png' %}"></div>
			<a class="btn btn-primary text-light" href="{% url 'student_allotment_publication' %}">View Allotment</a>
			{% else %}
			<img class="stage-status-icon" src="{% static 'gep_app/images/cross.png' %}">
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}