{% extends "base.html" %}
{% load static %}
<img src="{% static 'gep_app/images/tick-icon.jpeg' %}" height="20px" width="20px">
{% block main_content %}
<div class="container-fluid">
	<a class="col-sm-12 text-right btn btn-link text-success" href="{% url 'logout' %}">Logout</a>
	<div class="h4 col-sm-12 text-center text-success">Stage 1: Submission of Academic Details</div>
	{% if is_submitted %}
	<div class="small col-sm-12 text-center text-success">Submitted</div>
	{% endif %}
	{% if not is_submitted %}
	<div class="small col-sm-12 text-center text-danger">Not submitted</div>
	{% endif %}
	<form action="{% url 'student_academic_data_submission' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label class="form-label" for="id_user">Roll Number</label>
			<div class="form-control form-control-disabled">{{roll_number}}</div>
		</div>
		<div class="form-group">
			<label class="form-label" for="id_name">Name</label>
			<div class="form-control form-control-disabled">{{name}}</div>
		</div>
		<div class="form-group">
			<label class="form-label" for="id_{{form.FA.name}}">Faculty Advisor</label>
			{{form.FA}}
			{{form.FA.errors}}
		</div>
		<div class="form-group">
			<label class="form-label" for="id_{{form.next_semester.name}}">Registering semester</label>
			{{form.next_semester}}
			{{form.next_semester.errors}}
		</div>
		<div class="form-group">
			<label class="form-label" for="id_{{form.current_CGPA.name}}">CGPA upto previous semester</label>
			{{form.current_CGPA}}
			{{form.current_CGPA.errors}}
		</div>
		<div class="form-group">
			<label class="form-label" for="id_{{form.required_elective_count.name}}">Number of global electives to be taken in coming semester (Including overloading)</label>
			{{form.required_elective_count}}
			{{form.required_elective_count.errors}}
		</div>
		<div class="form-group">
			<label class="form-label" for="id_{{form.past_courses.name}}">Electives that are taken before</label>
			{{form.past_courses}}
			{{form.past_courses.errors}}
		</div>
		<div class="form-group">
			<label class="form-label" for="id_{{form.core_slots.name}}">Slots of core courses to be taken in coming semester (Including overloading)</label>
			{{form.core_slots}}
			{{form.core_slots.errors}}
		</div>
		<input class="btn btn-success" type="submit" value="Submit"/>
	</form>
</div>
{% endblock %}